
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> app ###
/public/images/projects/*
!/public/images/projects/.gitkeep
/public/images/skills/*
!/public/images/skills/.gitkeep
###< app ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
###< symfony/webpack-encore-pack ###
