RewriteEngine on

# Removing of the index.php in URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php?/$0 [PT,L]

# Redirect on the www.
RewriteCond %{HTTP_HOST} !^www\.florianlegoff\.com [NC]
RewriteRule (.*) http://www.florianlegoff.com/$1 [QSA,R=301,L]
