$lightblack: #282828;
$darkblack: #141414;
$lightred: #c24450;
$darkred: #b43c3c;
$theme-colors: (
    "lightblack": #282828,
    "darkblack": #141414,
    "lightred": #c24450,
    "darkred": #b43c3c,
);
