section#projects {
    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
        max-width: 720px;
        height: auto;
        margin: auto;

        img {
            width: inherit;
            height: auto;
        }

        .hover-container {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            padding: 15px;
            background: $darkblack;
            color: #FFFFFF;
            opacity: 0;
            text-decoration: none;
            transition: all 0.5s;

            hr {
                border-color: $lightred;
                width: 15%;
            }
        }

        &:hover .hover-container {
            opacity: 0.95;
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }
}
