@import "_colors";
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";
@font-face {
    font-family: 'Sansation';
    src: url("../fonts/Sansation_Regular.ttf");
}
@font-face {
    font-family: 'GeosansLight';
    src: url("../fonts/GeosansLight.ttf");
}

body,
html {
    height: 100%;
    background-color: $darkblack;
    color: white;
    font-family: 'Sansation';
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'GeosansLight';
}

h1 {
    font-size: 40px;
    letter-spacing: 8px;
}

h2 {
    font-size: 30px;
    letter-spacing: 5px;
    margin-bottom: 80px;
}

h3 {
    font-size: 20px;
    letter-spacing: 3px;
}

a {
    color: $lightred;
}

a:active,
a:focus,
a:hover {
    color: $darkred;
}
@import "_about";
@import "_projects";
