   /*******************************************************************
	*                                                                 *
	*                 Site Web : www.florianlegoff.com                *
	*                                                                 * 
	*                                                                 *
	*               Developpement web -> Florian LE GOFF              *
	*                                                                 *
	*            Design -> Damien AUBIN (www.aubindamien.com)         *
	*                                                                 *
	*                                                                 *
	*               Aucuns Droits Réservés - CopyMe !                 *
	*                                                                 *
	*******************************************************************/

/**********************************************************************
							Police
***********************************************************************/

@font-face{
	font-family: 'Fabrica';
	src: url('../fonts/Fabrica.otf');
}

/**********************************************************************
							Eléments récurrents 
***********************************************************************/
/*
Noir clair : 2d3440
Noir sombre : 262c35
Rouge : c24450
Boutons : 3c424f
*/
html
{
	margin: 0;
	padding: 0;
}

body
{	
	padding:0;
	margin:0;
	min-width: 980px;
	font-family: 'Fabrica';
}

.back0
{
	margin-top: 0px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.back1
{
	margin-top:0px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: rgb(230,230,230);
}

.back0_black
{
	margin-top:0px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: rgb(30,30,30);
}

.back1_black
{
	margin-top:0px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: rgb(40,40,40);
}

.titlePage
{
	text-align: center;
	color: rgb(243,60,60);
	boder
}

.borderRed
{
	border-top: 5px solid rgb(243,60,60);
}

.conteneur
{
	width: 960px;
	margin: auto;
	margin-top: 0px;
}

.clear
{
	clear: both;
}

.btn
{
	display: inline-block;
	height: 15px;
	min-width: 110px;
	margin-top: 10px;
	padding: 15px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 50px;
	background-color: #3c424f;
	color: white;
	font-size: 16px;
	text-align: center;
	text-decoration: none;

	transition: background-color 0.3s;
}

.btn:hover
{
	background-color: rgb(243,60,60);

	transition : background-color 0.3s;
}


/***********************************************************************
								Header
************************************************************************/

header
{
	width: 100%;
	padding-top: 20px;
	/*background-image: url('../images/header.jpg');*/
	background-color: rgb(30,30,30);
}

/*******************************
			En-Tête
********************************/

header .entete
{
	width: 960px;
	height: 110px;
	margin: auto;
	text-align: center;
	position: relative;
}

header .entete p.icoDevG
{
	position: absolute;
	top: 0;
	left: 270px;
}

header .entete p.icoDevD
{
	position: absolute;
	top: 0;
	left: 650px;
}

header .entete h1
{
	font-size: 23px;
	margin-top: 25px;
}

header .entete h1 a
{
	color: white;
	text-decoration: none;
}

header .entete h2
{
	margin-top: -10px;
	font-size: 16px;
	color: rgb(243,60,60);
}

/*******************************
		Menu de navigation
********************************/

header nav
{
    display: inline-block;
    width: 100%;
    height: 110px;
    margin-top:0px;
	padding:0px;
	background-color: rgb(40,40,40);

}

header nav ul
{
	width: 960px;
	margin:auto;
	margin-top:0px;
	padding:0px;
}

header nav ul li
{
	
	display: inline-block;
	width: 192px;
	height: 110px;
	margin-top:0px;
	margin-right: -5px;
	list-style-type : none;
	font-size: 12px;
	text-align: center;
}

header nav a
{
	display: inline-block;
	width:191px;
	height: 61px;
	margin-top: -3px;
	text-decoration: none;
	color: rgb(150,150,150);
	vertical-align: top;
}

header nav a.linktext
{
	padding-top: 47px;
}

header nav a.linkimg
{
	display: none;
	width:100%;
	height: 92px;
	padding-top: 18px;
	text-decoration: none;
	color: rgb(100,100,100);
}

header nav a:hover
{
    color: #25AECC;
}

header nav a:active
{
    color: #760001;
    border-bottom: 3px solid #760001;
}


header .underNav
{
	height: 50px;
	width: 960px;
	margin:auto;
}

header .infoNav
{
	display: inline-block;
	width: 192px;
	margin-top: -3px;
	margin-right: -5px;
	padding-top: 0px;
	text-align: center;
	color: white;
	font-size: 13px;
	position: relative;
}

header .infoNav span
{
	display: none;
	padding-bottom: 20px;
}

header .infoNav img
{
	display: none;
	position: absolute;
	top:0;
	left: 80px;
}

/***********************************************************************
								Footer
************************************************************************/

footer
{
	width: 100%;
}

footer .foot1
{
	background-color: rgb(226,66,66);
}

footer .foot1 section.colonneFooter
{
	display: inline-block;
	width: 230px;
	margin-right: 5px;
	vertical-align: top;
	color: white;
	font-size: 13px;
}

footer .foot1 section.colonneFooter h5
{
	font-size: 16px;
	border-bottom: solid silver 1px;
	padding-bottom: 15px;
}

footer .foot1 section.colonneFooter hr
{
	text-align: left;
}

footer .foot1 section.colonneFooter img
{
	vertical-align: top;
	padding-bottom: 5px;
}

footer .foot1 section.colonneFooter a
{
	color: white;
	text-decoration: none;
}

footer .foot2
{
	margin-top: 0px;
	background-color: rgb(220,60,60);
	height: 45px;
	padding-top: 5px;
	font-size: 12px;
	text-align: center;
	color: white;
}

footer .foot2 a
{
	text-decoration: none;
	color: white;
}


#overlay
{
	display:none;
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	min-height: 900px;
	margin-bottom: 0;
}

.idTox
{
	width: 840px;
	padding: 20px;
	position: fixed;
	top: 150px;
	left: 50%;
	margin-left: -420px;
	background-color: white;
	display: none;
	overflow: auto;
	max-height: 500px;
	text-align: center;
}

.idTox textarea
{
	width: 670px;
	height: 20px;
	margin-top: 20px;
	padding-top: 5px;
	text-align: center;
}


/***********************************************************************
								Page PROFIL
************************************************************************/

.contAboutMe
{
	width: 960px;
	margin: auto;
	margin-top: 10px;
	border-top: solid rgb(243,60,60) 1px;
}

.titleAboutMe
{
	display: block;
	width: 150px;
	margin: auto;
	margin-top: -10px;
	margin-bottom: 30px;
	text-align: center;
	color: rgb(243,60,60);
	background-color: white;
}

.imgAboutMe
{
	display: inline-block;
	width: 550px;
	height: 480px;
	vertical-align: top;
}

.aboutMe
{
	display: inline-block;
	width: 400px;
	height: 370px;
	margin-top: 120px;
	vertical-align: top;
	font-size: 14px;
}

.aboutMe .aboutName
{
	font-size: 22px;
	font-weight: bold;
}

.aboutMe .aboutTitle
{
	font-size: 16px;
	color: rgb(243,60,60);
}

.carrouselMain
{
	width: 960px;
	height: 500px;
	margin: auto;
	margin-bottom: 50px;
	position: relative;
}

.carrouselMain .slide
{
	display: none;
	position: absolute;
	top:0;
	left:0;
	z-index: 1;
}

.carrouselMain .slide img
{
	width: 960px;
	height: 500px;
}

.carrouselMain .slide a
{
	display: inline-block;
	width: 960px;
	padding-top: 10px;
	height: 30px;
	background-color: rgba(30,30,30,0.75);
	color: white;
	text-decoration: none;
	text-align: center;
	position: absolute;
	bottom: 5px;
	left: 0;
}

.carrouselMain .carrouselNav
{
	position: absolute;
	bottom: -45px;
	left: 450px;
	z-index: 5;
}

.carrouselMain .carrouselNav span
{
	display: inline-block;
	color: rgba(30,30,30,0);
	background-color: rgba(30,30,30,0.75);
	width: 15px;
	height: 15px;
	border-radius: 15px;
	margin-left: 5px;
}

.carrouselMain .carrouselNav span:hover, .carrouselMain .carrouselNav .active
{
	background-color: rgb(243,60,60);
	cursor: pointer;
}

.myService 
{
	display: inline-block;
	width: 100%;
	height: 350px;
	background-image: url('/assets/images/myServices.jpg');
	background-repeat:no-repeat;
	background-position: center center;
	color: rgb(230,230,230);
	text-align: center;
}

.myService h3
{
	color: rgb(243,60,60);
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding-top: 10px;
}

.myService .descMyService
{
	width: 960px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 16px;
	color: white;
}

.myService .myServiceBtn a
{
	margin-left: 20px;
}


/***********************************************************************
								Page PROJETS
************************************************************************/


.myProjet
{
	display: inline-block;
	vertical-align: top;
	width: 660px;
	height: 330px;
}

.myProjet .diapoProjet
{
	width: 660px;
	height: 350px;
	text-align:center;
}

.myProjet .flecheDiapo
{
	display: inline-block;
	margin-top: 0px;
	width: 26.5px;
	color: white;
	background-color: red;
	vertical-align: middle;
}

.myProjet .imgDiapo
{
	display: inline-block;
	margin-top: 0px;
	width: 587px;
	margin: auto;
	position: relative
}
.myProjet .imgDiapo img
{
	display: none;
	position: absolute;
	top:0em;
	left: 0em;
}

.myProjet .button
{
	text-align: center;
}

.menuRed
{
	width: 100%;
	background-color: rgb(243,60,60);
	z-index: 2;
}

.menuFloat
{
	position: fixed;
	top:0;
	left:0;
}

.menuRed p
{
	width: 780px;
	margin:auto;
}

.menuRed a
{
	display: inline-block;
	padding-top: 15px;
	height: 35px;
	width: 150px;
	margin-right: -5px;
	text-align: center;
	color: white;
	text-decoration: none;
}

.menuRed a:hover
{
	background-color: rgb(220,40,40);
}


.cv h3
{
	text-align: center;
}

.cv h3 a
{
	color: rgb(243,60,60);
	text-decoration: none;
}

.cv p a 
{
	color: rgb(51,153,255);
	text-decoration: none;
}

.cv p a:hover
{
	color: rgb(243,60,60);
	transition-duration: 0.5s;
}

.cv .itemCV0
{
	width: 900px;
	padding: 30px;
	background-color: white;
	text-align: center;
	margin-top: 30px;
}

.cv .itemCV1
{
	width: 900px;
	padding: 30px;
	background-color: rgb(230,230,230);
	text-align: center;
	margin-top: 30px;
}

.updateCv form
{
	text-align: center;
}

.updateCv form input[type="text"]
{
	width: 600px;
	text-align: center;
}

 .updateCv form textarea
{
	width: 600px;
	height: 300px;
	text-align: center;
}

/***********************************************************************
								Page COMPETENCES
************************************************************************/

h3.catSkills
{
	color: rgb(243,60,60);
	text-align: center;
}

div.itemSkill
{
	display: inline-block;
	width: 470px;
	height: 150px;
	margin-bottom: 5px;
	vertical-align: top;
	background-color: rgb(220,220,220);
	color: rgb(60,60,60);
}

p.imgSkill
{
	display: inline-block;
	text-align: right;
	width: 200px;
	vertical-align: middle;
}

p.imgSkill img
{
	width: 140px;
	height: 120px;
}

p.skillInfos
{
	display: inline-block;
	width: 210px;
	margin-left: 20px;
	text-align: center;
	vertical-align: middle;
}

p.skillInfos span
{
	display: block;
	margin-bottom: 15px;
}


/***********************************************************************
								Page PROJETS
************************************************************************/

.projet
{
	display: inline-block;
	width: 300px;
	margin-right: 16px;
	margin-bottom: 15px;
	text-align: center;
}

.projet p
{
	position: relative;
}

.projet img
{
	width: 300px;
}

.projet h4
{
	margin-top: -5px;
}
.projet a
{
	color: rgb(30,30,30);
	text-decoration: none;
}

.projet p .viewProject
{
	display: none;
	width: 300px;
	height: 130px;
	padding-top: 40px;
	background: rgba(243,60,60,0.85);
	position: absolute;
	top: 0;
	left: 0;
	color: white
}

.projet p .viewProject img
{
	width: 50px;
	height: 50px;
}

.prezProjet
{
	display: none;
}

.enTeteProjet
{
	border-bottom: 1px solid rgb(150,150,150);
}

.enTeteProjet .logoProjet, .enTeteProjet .titreProjet, .enTeteProjet .closeProjet
{
	display: inline-block;
	vertical-align: middle;
}

.enTeteProjet .logoProjet
{

}

.enTeteProjet .titreProjet
{
	width: 830px;
	margin-left: 20px;
}

.enTeteProjet .titreProjet .sTitreProjet
{
	font-size: 14px;
	color: rgb(243,60,60);
}

.enTeteProjet .closeProjet
{
	position: relative;
}

.enTeteProjet .closeProjet img
{
	position: absolute;
	top:0;
	left: 0;
}


.corpsProjet .diapoProjet
{
	display: inline-block;
	width: 550px;
	vertical-align: top;
}

.corpsProjet .diapoProjet img
{
	margin-top: 20px;
	width: 550px;
}

.corpsProjet .infosProjet
 {
 	display: inline-block;
	width: 380px;
	margin-top: 15px;
	margin-left: 25px;
	vertical-align: top;
 }

.corpsProjet .infosProjet h3
{
	font-size: 18px;
	color: rgb(243,60,60);
}

.corpsProjet .infosProjet p
{
	margin-bottom: 40px;
	font-size: 14px;
}

.corpsProjet .infosProjet p strong
{
	display: block;
	float: left;
	width: 120px;
}

.corpsProjet .infosProjet p a
{
	text-decoration: none;
	color: rgb(243,60,60);
}



.footProjet
{
	text-align: center;
	border-top: 1px solid rgb(150,150,150);
	vertical-align: top;
}

.footProjet img
{
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}

/***********************************************************************
								Page SERVICES
************************************************************************/

.services h4
{
	color: rgb(226,66,66);
}

.servicesHG
{
	border-bottom: solid 1px silver;
	border-right: solid 1px silver;
}

.servicesHD
{
	border-bottom: solid 1px silver;
}

.servicesBG
{
	border-right: solid 1px silver;
}

.services p
{
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
}

.services p a
{
	color: rgb(51,153,255);
	text-decoration: none;
}

.services p a:hover
{
	color: rgb(243,60,60);
	transition-duration: 0.5s;
}

/***********************************************************************
								Page CONTACT
************************************************************************/

.formContact form
{
	margin-top: 20px;
}

.formContact form label
{
	display: block;
	width: 130px;
	float: left;
	margin-left: 260px;
	margin-right: 15px;
	padding-top: 10px;
	text-align: right;
	vertical-align: middle;
}

.formContact form input
{
	height: 20px;
	width: 200px;
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: rgb(30,30,30);
	color: rgb(51,153,255);
	
}

.formContact form input:focus, .formContact form textarea:focus
{

	box-shadow: 3px 3px 25px rgb(51,153,255);
}

.formContact form textarea
{
	width: 500px;
	height: 150px;
	margin-bottom: 15px;
	margin-left: 230px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: rgb(30,30,30);
	color: rgb(51,153,255);
	
}

.formContact form input[type="submit"]
{
	margin-left: 420px;
	height: 40px;
}

.formContact form input[type=submit]:hover
{
	color: rgb(243,60,60);
	cursor: pointer;
	transition-duration: 0.5s;

}

/***********************************************************************
							Page Mentions légales
************************************************************************/

.sectionlegals
{
	margin-bottom: 50px;
	text-align: center;
}

.sectionlegals h3
{
	color: rgb(243,60,60);
}

.sectionlegals a
{
	color: #0088cc;
	text-decoration: none;
}


/***********************************************************************
							Espace Administrateur
************************************************************************/

#connexionAdmin
{
	text-align: center;
}

#connexionAdmin input
{
	height: 20px;
	width: 200px;
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: rgb(30,30,30);
	color: rgb(51,153,255);
}

#connexionAdmin input[type="submit"]
{
	width: 150px;
	height: 40px;
}

#connexionAdmin input[type=submit]:hover
{
	color: rgb(243,60,60);
	transition-duration: 0.5s;
}

.success
{
	color: green;
}

.error
{
	color: rgb(243,60,60);
}


.oneMail
{
	width: 960px;
	margin: auto;
	margin-bottom: 15px;
	border-bottom: solid red 1px;
	text-align: center;
}

.adminSkill
{
	text-align: center;
}

.adminSkill input[type="text"]
{
	width: 500px;
}

.adminSkill textarea
{
	width: 500px;
	height: 200px;
}

.adminSkill a
{
	color: rgb(243,60,60);
	text-decoration: none;
}

.addProjetAdmin
{
	text-align: center;
}

.addProjetAdmin input[type="text"]
{
	width: 500px;
}

.addProjetAdmin textarea
{
	width: 500px;
	height: 200px;
}

.adminProjet .corpsProjet
{
	text-align: center;
}

.adminProjet .corpsProjet input[type="text"]
{
	width: 400px;
}

.adminProjet .corpsProjet textarea
{
	width: 400px;
	height: 200px;
}

.adminService
{
	text-align: center;
}

.adminService input[type="text"]
{
	width: 500px;
}

.adminService textarea
{
	width: 500px;
	height: 200px;
}

.cloud
{
	text-align: center;
}

.cloud a
{
	display: block;
	padding: 10px;
	color: rgb(243,60,60);
	text-decoration: none;
}