<section id="contact" class="container-fluid bg-lightblack">
    <h2 class="text-center pt-5">{{ 'contact' | trans | upper }}</h2>
    <div class="container pb-5 wow animated fadeInUp">
        {% for successMessage in app.session.flashbag.get('success-message') %}
            <p class="alert alert-success alert-dismissible fade show" role="alert">
                {{ 'your_message_has_been_successfully_sent_i_will_reply_as_soon_as_possible' | trans }}
                <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'close' | trans }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </p>
        {% endfor %}

        {{ form(form, {'action': path('contact')}) }}
    </div>
</section>
